
<div class="jumbotron jumbotron-fluid jumbotron-index paral paralsec1">
<% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>" role="alert">
            <%= value %>
      </div>
<% end %>

        <div class="container">
          <div class="text-center"><p>Bienvenue sur</p><br/> <h1 class="display-1"> EventBriteLike </h1>
          <p class= "lead">Ce site hors du commun vous permettra de vous inscrire à des évènements inutiles afin de faire passer le temps de votre misérable vie ennuyeuse.</p>
          
        </div>
</div>
 <div class= "cards-container">
<% @events.each do |event| %>
  <div class="card text-center text-white bg-dark mb-5 mx-auto">
  <div class="card-header">
    <%= event.start_date.strftime("Le %d/%m/%Y à %H:%M") + " à " + event.location %>
  </div>
  <div class="card-body">
    
    <h2 class="card-title"><%= event.title %></h2>
    <h3 class="pricing-card-title"> <%= event.price %><small class="text-muted"> € </small></h3>
    <p class="card-text"> <%= event.description %></p>
    <%= link_to "Voir le détail", event_path(event.id), class_name: "btn btn-primary" %>
  </div>
  <div class="card-footer text-muted">
    <%= distance_of_time_in_words(event.created_at, DateTime.now) + " ago"%> <br />
    <% if event.admin.first_name && event.admin.last_name %>
    <%= "Créé par " + event.admin.first_name + " " + event.admin.last_name %>
    <% end %>
  </div>
</div>
<% end %>
</div>

