<!-- Third Parallax Section -->
<div class="jumbotron paral paralsec2">
<h1 class="display-3 text-black"><%= @event.title %></h1>
<h3 class="lead text-black text-center"><%= @event.description %></h3>
<div class=" mx-auto m-5 text-center card border border-secondary rounded text-white bg-dark">
          <h2 class="card-header"><%= @event.price %><small class="text-muted"> € </small></h2>
          <div class="card-body">
              <p >Ville: <%= @event.location %></p>
          <p >Durée: <%= @event.duration %> minutes</p>
          <p>Début : <%= @event.start_date.strftime("Le %d/%m/%Y à %H:%M")%></p>
          <p>Fin: <%= @event.end_date.strftime("Le %d/%m/%Y à %H:%M") %></p>
          </div>
          
          <div class="card-footer">
          <p>Nombre d'inscrits: <%= @event.attendees.length %></p>
          
          <small>Evènement organisé par: <%= @event.admin.email %></small>
          </div>
        </div>
</div>
        
