
<div class="jumbotron">
        <div class="container">
          <h1 class="display-2"><%= @event.title %></h1>
          <h2 class="display-3"><%= @event.price %><small class="text-muted"> € </small></h2>
          <h3 class="display-4">Ville: <%= @event.location %></h3>
          <p>Description: <%= @event.description %></p>
          <br/><br/>
          <p>Durée: <%= @event.duration %> minutes</p>
          <p>Début : <%= @event.start_date.strftime("Le %d/%m/%Y à %H:%M")%></p>
          <p>Fin: <%= @event.end_date.strftime("Le %d/%m/%Y à %H:%M") %></p>
          <br/><br/>
          <small>Evènement organisé par: <%= @event.admin.email %></small>
        </div>
</div>